@import url('https://fonts.cdnfonts.com/css/google-sans');

body{
    background: #020024;
    background: linear-gradient(257deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Product Sans Medium', sans-serif;
}
form{
    width:550px;
    margin: 0px auto;
}
fieldset{
    border: 5px solid black;
    border-radius: 15px;
}
h1{
    text-align: center;
}
legend{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:rgb(94, 255, 142)
}
input[required]{
    border:2px solid red;
    border-radius:15px;
}
input[optional]{
    border:2px solid rgb(6, 215, 83);
    border-radius:15px;
}
input:focus{
    background-color: rgb(62, 4, 4);
}
input+p{
    display:none;
}
input:hover+p{
    display:inline;
    background-color: green;
    font-family: 'Shantell Sans', sans-serif;
}
input[type="radio"]:checked{
    height:10px;
    width:10px;
}
input[type="radio"]:checked+label{
    font-size: 20px;
    color:rgb(234, 51, 51)
}
select{
    background-color: blueviolet;
    font-family: 'Product Sans Medium', sans-serif;
}
textarea{
    resize:none;
}
input[type="email"]~img{
    display:none;
}
input[type="email"]:valid~img.correct{
    display:inline;  
}
input[type="email"]:invalid~img.wrong{
    display:inline;  
}
input[type="number"]~img{
    display:none;
}
input[type="number"]:valid~img.correct{
    display:inline;  
}
input[type="number"]:invalid~img.wrong{
    display:inline;  
}

